apiVersion: skaffold/v2beta8
kind: Config
metadata:
  name: web-app
build:
  artifacts:
  - image: eu.gcr.io/tao-dev-281909/cam-dev
    docker:
      dockerfile: Dockerfile
deploy:
  kubectl:
    manifests:
    - deployment.yaml
